@use '@angular/material' as mat;

.page-home {
  padding: 20px;
}

.page-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  row-gap: 27px;
  margin-bottom: 30px;
}

.hchart-row {
  display: flex;
  gap: 20px;
  margin-top: 27px;
  
  .pie-chart-card,
  .line-chart-card {
    flex: 1;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    h3 {
      margin: 0 0 20px 0;
      color: #333;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .pie-chart-card {
    .subscription-chart-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .chart-wrapper {
        width: 45%;
        
        .chart-placeholder {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .label-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 45%;

        h4 {
          margin: 0;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  .line-chart-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.recent-activity {
  .addBut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    
    .heading-group {
      .heading {
        font-size: 22px;
        color: #1e293b;
        font-weight: 700;
        margin-bottom: 5px;
      }
      
      .heading2 {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #E17B1C;
      }
    }
  }
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: #888;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}